.brands {
  width: 100%;
  max-width: 100%;
}

.brands__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.brands__slider {
  width: 100%;
  max-width: 100%;
  margin-bottom: 30px;
}

.brands__slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
}

.brands__link {
  display: block;
  height: 80px;
  margin: 0;
  margin-right: 30px;

  opacity: 0.5;

  &:last-of-type {
    margin: 0;
  }

  &--small {
    flex-basis: 70px;
    padding: 21px 5px;
  }

  &--medium {
    flex-basis: 170px;
    padding: 21px 10px;
  }

  &--big {
    flex-basis: 270px;
    padding: 21px 20px;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }

  &:last-of-type {
    margin-right: 0;
  }

  picture {
    display: block;
    width: 100%;
    height: 100%;
  }
}

.brands__image {
  display: block;
  width: 100%;
  height: 100%;

  @include object-fit(contain, center);
}

@media screen and (max-width: $desktop-width) {
  .brands__wrapper {
    max-width: 100%;
    padding: 0 22px;
  }

  .brands__slide {
    flex-wrap: wrap;
  }

  .brands__link {
    flex-grow: 0;
    height: 38px;
    margin-bottom: 21px;
    padding-top: 0;
    padding-bottom: 0;
  }
}

@media screen and (max-width: $tablet-width) {
  .brands__wrapper {
    padding: 0 11px;
  }

  .brands__link {
    margin-right: 0;
    margin-bottom: 12px;

    &--medium {
      flex-basis: 126px;
    }

    &--big {
      flex-basis: 172px;
    }
  }
}
