.brands {
  width: 100%;
  max-width: 100%;
  margin-bottom: 110px;
}

.brands__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
  padding-top: 34px;
}

.brands__slider {
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

.brands__slide {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 100%;
  height: auto;
}

.brands__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-height: 40px;
  margin: 0;
  margin-right: 60px;

  opacity: 0.5;

  &:last-of-type {
    margin-right: 0;
  }

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover {
    opacity: 1;
  }

  &:active {
    opacity: 0.8;
  }
}

@media screen and (max-width: $desktop-width) {
  .brands {
    margin-bottom: 90px;
  }

  .brands__wrapper {
    max-width: 100%;
    padding: 0 22px;
    padding-top: 5px;
  }

  .brands__slider {
    margin-bottom: 10px;
  }

  .brands__slide {
    flex-wrap: wrap;
  }

  .brands__link {
    margin-right: 54px;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: $tablet-width) {
  .brands__wrapper {
    padding: 0 11px;
    padding-top: 44px;
  }

  .brands__slider {
    margin-bottom: 30px;
  }

  .brands__link {
    margin-right: 0;
    margin-bottom: 10px;

    transform: scale(0.76);
  }
}
