.intro-block {
  width: 100%;
  max-width: 100%;
  margin-bottom: 48px;
}

.intro-block__title {
  max-width: 100%;
  margin: 0 auto;
  margin-bottom: 13px;

  font-size: 40px;
  line-height: 50px;
  font-family: $secondary-font;
  text-align: center;
  color: $site-color;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  word-wrap: break-word;
}

.intro-block__description {
  max-width: 100%;
  max-width: 520px;
  margin: 0 auto;

  font-size: 18px;
  line-height: 30px;
  text-align: center;
  color: #1c1c2a;
  letter-spacing: 0.2px;
  word-wrap: break-word;
}

@media screen and (max-width: $tablet-width) {
  .intro-block {
    margin-bottom: 30px;
  }
  .intro-block__title {
    max-width: 298px;

    font-size: 30px;
    line-height: 36px;
  }

  .intro-block__description {
    max-width: 298px;

    font-size: 16px;
    line-height: 24px;
  }
}
