.news {
  width: 100%;
  max-width: 100%;
  margin-bottom: 146px;
}

.news__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.news__pool {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 100%;
  padding: 0 70px;
  padding-top: 60px;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    display: block;
    width: 100%;
    height: 250px;

    background-image: url("../img/news-bg-d.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}

.news__news-card {
  &:nth-of-type(2) {
    margin: 0 42.5px;
  }
}

@media screen and (max-width: $desktop-width) {
  .news__wrapper {
    max-width: 100%;
    padding: 0 22px;
  }

  .news__pool {
    padding-right: 30px;
    padding-left: 30px;

    &::before {
      background-image: url("../img/news-bg-t.jpg");
    }
  }

  .news__news-card {
    &:nth-of-type(2) {
      margin-right: 0;
      margin-left: 30px;
    }

    &:nth-of-type(3) {
      display: none;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .news__wrapper {
    padding: 0;
  }

  .news__pool {
    padding: 0;

    background: none;
  }

  .news__news-card {
    margin-bottom: 46px;

    &:nth-of-type(2) {
      margin: 0;
    }
  }
}
