.reviews {
  width: 100%;
  max-width: 100%;
  margin-bottom: 120px;
}

.reviews__wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.reviews__slider {
  position: relative;

  width: 100%;
  max-width: 100%;
  margin-bottom: 26px;

  padding: 10px 27px;

  background-color: #f3f3f1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    top: 0;
    z-index: 30;

    display: block;
    width: 30px;
    height: 100%;

    background-color: #f3f3f1;
  }

  &::before {
    left: 0;
  }

  &::after {
    right: 0;
  }
}

@media screen and (max-width: $desktop-width) {
  .reviews {
    margin-bottom: 100px;
  }

  .reviews__wrapper {
    max-width: 100%;
    padding: 0 22px;
  }

  .reviews__slider {
    max-width: 724px;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: $tablet-width) {
  .reviews {
    margin-bottom: 60px;
  }

  .reviews__wrapper {
    padding: 0;
  }

  .reviews__slider {
    max-width: 320px;
    padding-right: 0;
    padding-left: 0;

    &::after,
    &::before {
      display: none;
    }
  }
}
