.site-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 100%;
  min-height: 45px;
  margin: 0;
  padding: 0;

  font-size: 16px;
  line-height: 36px;
  font-family: $main-font;
  text-align: center;
  color: #654e3d;
  word-wrap: break-word;

  background-color: $site-color;
  border: 0;
  border-radius: 3px;
  cursor: pointer;

  &:focus {
    outline: none;
  }

  &:focus,
  &:hover,
  &:active {
    opacity: 0.8;
  }
}
