.subscribtion {
  width: 100%;
  max-width: 100%;
  margin-bottom: 140px;
}

.subscribtion__wrapper {
  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: stretch;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.subscribtion__subwrapper {
  z-index: 2;

  width: 100%;
  max-width: 352px;
  padding: 100px 0;
}

.subscribtion__title {
  box-sizing: content-box;
  width: 400px;
  margin: 0;
  margin-bottom: 18px;

  font-weight: 700;
  font-size: 36px;
  line-height: 48px;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-wrap: break-word;
}

.subscribtion__feature {
  max-width: 385px;
  margin: 0;
  margin-bottom: 56px;

  font-size: 18px;
  line-height: 24px;
  word-wrap: break-word;

  span {
    text-transform: uppercase;
  }
}

.subscribtion__form {
  position: relative;

  width: 100%;
  max-width: 270px;
  margin: 0;
  padding: 0;
}

.subscribtion__input {
  width: 100%;
  max-width: 100%;
  height: 46px;
  padding-right: 74px;
  padding-left: 20px;

  font-size: 16px;
  line-height: 36px;

  background-color: #f3f3f1;
  border: 0;
  border-radius: 3px;

  &:focus {
    outline: none;
  }

  &::placeholder {
    color: #b2b2b2;
  }
}

.subscribtion__site-button {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;

  width: 100%;
  max-width: 70px;
  height: 100%;
}

.subscribtion__bonus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100%;
  max-width: 818px;
  min-height: 450px;
  padding-left: 84px;

  background-image: url("../img/bonus-d.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  > * {
    position: relative;
    z-index: 4;
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;

    display: block;
    width: 100%;
    height: 100%;
  }

  &::before {
    z-index: 2;

    background-color: white;
    opacity: 0.2;
  }
}

.subscribtion__bonus-text {
  max-width: 100%;
  margin: 0;

  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  word-wrap: break-word;

  span {
    display: block;

    font-size: 24px;
  }

  .subscribtion__bonus-value {
    font-size: 188px;
    line-height: 1;
    font-family: $secondary-font;
    color: rgba(28, 28, 42, 0.102);
  }
}

@media screen and (max-width: $desktop-width) {
  .subscribtion {
    margin-bottom: 87px;
  }
  .subscribtion__wrapper {
    max-width: 100%;
    padding: 0 22px;
  }

  .subscribtion__subwrapper {
    max-width: 303px;
    padding: 122px 0;
  }

  .subscribtion__title {
    width: 445px;
    margin-bottom: 4px;

    font-size: 40px;
  }

  .subscribtion__feature {
    margin-bottom: 32px;
  }

  .subscribtion__bonus {
    flex: 1;
    justify-content: flex-end;
    max-width: none;
    padding-bottom: 48px;
    padding-left: 48px;

    background-image: url("../img/bonus-t.jpg");
  }

  .subscribtion__bonus-text {
    font-size: 16px;
    line-height: 24px;

    span {
      font-size: 20px;
      line-height: 30px;
    }

    .subscribtion__bonus-value {
      font-size: 100px;
      line-height: 1;
    }
  }
}

@media screen and (max-width: $tablet-width) {
  .subscribtion {
    margin-bottom: 48px;
  }

  .subscribtion__wrapper {
    flex-direction: column;
    padding: 0;
  }

  .subscribtion__subwrapper {
    max-width: 280px;
    margin: 0 auto;
    padding: 0;
  }

  .subscribtion__title {
    width: auto;
    max-width: 100%;
    padding: 0 11px;

    font-size: 30px;
    line-height: 40px;
    text-align: center;

    span {
      display: none;
    }
  }

  .subscribtion__feature {
    margin-right: auto;
    margin-bottom: 26px;
    margin-left: auto;

    text-align: center;
  }

  .subscribtion__form {
    margin: 0 auto;
    margin-bottom: 32px;
  }

  .subscribtion__bonus {
    position: relative;
    top: 0;
    left: 0;

    justify-content: flex-start;
    max-width: 100%;
    min-height: 250px;
    padding: 54px 0;

    background-image: url("../img/bonus-m.jpg");
  }

  .subscribtion__bonus-text {
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 0 30px;

    .subscribtion__bonus-value {
      font-size: 80px;
    }
  }
}
