$main-font: "PT Serif", "Open Sans", "Arial", sans-serif;
$secondary-font: "Yeseva One", "Open Sans", "Arial", sans-serif;
$desktop-width: 1199px;
$tablet-width: 767px;
$mobile-width: 319px;
$bg-color: #ffffff;
$site-color: #e0c68b;
$font-color: #000000;
